ion-content {
  --background: white;
  --padding-top:24px;
  --padding-start:20px;
  div {
    color: black;
    padding: 20px;
  }

  ion-button {
    --color: var(--ion-color-secondary);
    margin-top: .3rem;
    margin-bottom: .3px;
    font-weight: 600;
    font-size:1rem;
    ion-icon{
      padding:.2rem;
    }

  }
}
