<ion-content >
  <div>
    <ion-text>
      Hey there! <br />
      What are you looking up for?
    </ion-text>
  </div>
    <ion-buttons>
      <ion-button expand="block" (click)="_dismiss()" routerLink="/tabs/home">
        <ion-icon name="search-outline"></ion-icon>
        Home search
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button (click)="_dismiss()">
        <ion-icon name="id-card-outline"></ion-icon>
       Post your property
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button (click)="_dismiss()">
        <ion-icon name="storefront-outline"></ion-icon>
        Your Homes
      </ion-button>
    </ion-buttons>
</ion-content>
