<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <div class="location-bar">
        <ion-text> Guwahati </ion-text>
        <ion-icon name="chevron-down-outline" color="light"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-border">
  <div class="igloo-main">
    <ion-title>igloooo</ion-title>
    <ion-text>Best deals are here..</ion-text>
  </div>
  <ion-searchbar></ion-searchbar>
</ion-content>
