<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="">
        <ion-text > Guwahati </ion-text>
        <ion-icon
          slot="end"
          name="chevron-down-outline"
          color="light"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-border">
  <ion-text class="heading">
    <h1>igloooo</h1>
    <h6>Best deals are here..</h6>
  </ion-text>
  <div>
    <ion-searchbar color="light"> </ion-searchbar>
  </div>
  <app-available-cities></app-available-cities>
</ion-content>
