ion-content {
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 46px;
    font-weight: 700;
    color: var(--ion-color-secondary);
  }
  h6 {
    margin-top: -2px;
  }
}
